.hero-header {
  background-image: linear-gradient(rgba(24, 24, 24, 0.5), rgba(0, 0, 0, 0.333)),
    url("/images/beach-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  color: var(--light-grey);
  text-align: center;
  padding: 15.5rem 2rem;
  margin: 0 auto;
  border-radius: 12px;
}
@media (min-width: 768px) {
  .hero-content {
    position: relative;
    top: 12.5rem;
    left: 2.5rem;
    text-align: left;
  }
}
