{
	"extends": ["airbnb", "prettier"],
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": "error",
		"react/jsx-filename-extension": [
			"error",
			{ "extensions": [".jsx", ".tsx"] },
		],
		"import/extensions": [
			"error",
			"always",
			{
				"js": "never",
				"jsx": "never",
				"ts": "never",
				"tsx": "never",
			},
		],
	},
	"settings": {
		"import/resolver": {
			"alias": {
				"map": [["src", "./src"]],
				"extensions": [".ts", ".tsx"],
			},
		},
	},
}
